@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --BGCOLOR: #0F172A;; /* #0F172A; */
  --BORDER-COLOR: #FFF; /* #FFF; */
  --COLOR: #FFF;
  --ERROR: firebrick;
  --INACTIVE: lightgray;
  --LINK-COLOR: whitesmoke;
  --LINK-HOVER: rgba(245, 245, 245, 0.9);
  --TICKET-BGCOLOR: hsla(240, 64%, 27%, 0.65);
  --STATUS-COMPLETE: limegreen;
  --STATUS-OPEN: firebrick;
  --TABLE-BGCOLOR: #FFF;
  --TABLE-COLOR: #000;
}

/* || UTILITY CLASSES */
.errmsg {
  display: inline-block;
  background-color: var(--TABLE-BGCOLOR);
  color: var(--ERROR);
  padding: 0.25em;
  margin-bottom: 0.5em;
}

.nowrap {
  white-space: nowrap;
}

.icon-button {
  width: 48px;
  height: 48px;
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  color: var(--COLOR);
  display: grid;
  place-content: center;
}

.icon-button:hover,
.icon-button:focus-visible {
  transform: scale(1.2);
}

.icon-button[disabled] {
  visibility: hidden;
}

/* || GENERAL STYLES */

body {
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  background-color: var(--BGCOLOR);
  color: var(--COLOR);
  /* background-image: url('./img/background.jpg'); */
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}

input,
button,
textarea,
select {
  font: inherit;
}

#root {
  /* React root div */
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
}

a {
  text-decoration: none;
}

a,
a:visited {
  color: var(--LINK-COLOR);
}

a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

/* || PAGES */

.home,
.welcome {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.home {
  padding: 1em;
  flex-grow: 1;
}

.home__main,
.login {
  flex-grow: 1;
  border-top: 2px solid var(--BORDER-COLOR);
  border-bottom: 2px solid var(--BORDER-COLOR);
  padding: 1em 0;
}

.home__addr {
  margin-top: 1em;
}

.welcome a::before {
  content: "➜ "
}

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0 0.5em;
  border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.dash-header__nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  gap: 0.5em;
}

.dash-container {
  padding: 0.75em 0.5em 0.5em;
  flex-grow: 1;
}

.dash-footer {
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: var(--BGCOLOR);
  padding: 0.5em;
  border-top: 1px solid var(--BORDER-COLOR);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  gap: 1em;
}

.dash-footer__button {
  font-size: 1rem;
  width: auto;
  height: auto;
}


/* || TICKETS - GENERAL */

/* .ticketlist__main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
} */

.ticketlist__main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.ticket {
  width: 300px;
  border: 1px solid #636981;
  border-radius: 8px;
  padding: 15px;
  margin: 8px;
  background-color: #373e54;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ticket__header__left {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ticket__title {
  margin: 0;
  font-size: 18px;
  color: #f5f9ff;
  font-weight: bold;
}

.ticket__category {
  margin: 0;
  font-size: 14px;
  color: #8c91a6;
}
.ticket__date {
  margin: 0;
  font-size: 14px;
  color: #8c91a6;
}

.ticket__divider {
  margin: 14px 0;
  border: none;
  border-top: 1px solid #636981;
}

.ticket__urgency {
  display: flex;
  justify-content: center;
  gap: 16%;
  margin-bottom: 14px;
}

.ticket__urgency__circle {
  width: 15px;
  height: 15px;
  background-color: #ccc;
  border-radius: 50%;
}

.ticket__content {
  margin-right: 8%;
}

.ticket__description {
  min-width: 268px;
  padding-bottom: 8px;
}

.ticket__description p {
  width: 100%;
  height: 60px;
  font-size: 14px;
  background-color: #373e54;
  border: 1px solid #636981;
  border-radius: 4px;
  padding: 8px;
  padding-right: 1px;
}

.ticket__footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #f5f9ff;
}


/* ||  NOTE */

.ticket__created,
.ticket__updated,
.ticket__username {
  display: none;
}

.ticket__status {
  font-weight: bold;
}

.ticket__status--open {
  color: var(--STATUS-OPEN);
}

.ticket__status--completed {
  color: var(--STATUS-COMPLETE);
}


/* || FORM - GENERAL */

.form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.75em;
  max-width: 800px;
}

.form__checkbox-container {
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  gap: 0.5em;
}

.form__persist {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.5em;
}

.form__title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form__input,
.form__submit-button {
  padding: 0.5em;
  border-radius: 15px;
}

.form__input--text {
  min-height: 150px;
}

.form__input--incomplete {
  border: 1px solid red;
  outline: 1px solid red;
}


.form__checkbox {
  width: 24px;
  height: 24px;
}

.form__select {
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.25em;
}

.form__action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5em;
  position: absolute;
  right: 0.5em;
}

.form__row {
  display: flex;
  flex-flow: row nowrap;
  gap: 2em;
}

.form__divider {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5em;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 2rem;
  }

  .dash-header__nav {
    gap: 0;
  }

  .icon-button {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) {

  body {
    font-size: 1.25rem;
  }

  .dash-header {
    padding: 0 1em;
  }

  .dash-container {
    padding: 1em;
  }

  .table {
    font-size: 1.5rem;
  }

  .table--tickets {
    grid-template-columns: repeat(3, 1fr) 2fr repeat(2, 1fr);
  }

  .ticket__created,
  .ticket__updated,
  .ticket__username {
    display: block
  }

  .form__action-buttons {
    position: static;
  }
}